.box {
    display: flex;
    width: 100vw;
    height: 11vh;
    background-color: #2b3549;
    align-items: center;
    /* justify-content: space-between; */
    position: sticky;
    top: 0;
    z-index: 1;
    

}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.dp {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /* background-color: blue; */
    position: relative;
    left: 5%;
}

.jagdeep {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.navname {
    color: #4c96ED;
    position: relative;
    left: 6%;
    font-size: xx-large;
}

.navbar {
    position: relative;
    left: 22%;
    gap: 10%;
    display: flex;
    text-decoration: none;
}

.link {
    color: white;
    font-size: 17px;
}


.homenav {
    color: #4c96ED;
    font-size: 17px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #4c96ED;
    text-decoration: underline;
}

/* home start */

#home {
    width: 100%;
    height: 95vh;
    background-color: #1B2737;
    display: flex;
}

.bigname {

    height: 100%;
    width: 50vw;
    /* background-color: aqua; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 60px; */

}

.namejagdeep {
    color: white;
    font-size: 80px;
    /* margin-left: 20px; */


}

.skill {
    color: #4c96ED;
    margin-top: 10px;
    margin-bottom: 30px;

}

.hire {
    background-color: rgb(85, 85, 228);
    color: white;
    padding: 15px 15px;
    border-radius: 15px;
}

.hire:hover {
    border: 1px solid white;
    background-color: transparent;
}

.view {

    color: #4c96ED;
    background-color: #2b3549;
    padding: 15px 15px;
    border-radius: 15px;
    border: 1px, solid, #4c96ED;

}

.view:hover {
    background-color: #1b2737;
}

.mainbuttons {
    display: flex;
    gap: 20px;
    /* background-color: #155dfd; */
    width: 82%;
}

.mainimage {
    height: 100%;
    width: 50vw;
    /* background-color: aqua; */

    align-items: center;
    display: flex;
    justify-content: center;


}


.bigimage {
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.bigimage:hover {
    box-shadow: 4px 4px 10px greenyellow;
}


/* about me shuru hai */
#about {
    min-height: 90vh;
    width: 100%;
    background-color: #2b3549;
    display: flex;
    flex-direction: column;
}

.aboutme {
    color: white;

    height: 20vh;
    /* background-color: #4c96ED; */
    align-items: end;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;


}

.theory {
    color: white;
    width: 62%;
    padding: 5px;
    align-self: center;
    /* word-break: break-all; */

}

.bio1 {
    margin-bottom: 20px;
    font-size: 17px;

}

.bio2 {
    margin-bottom: 20px;
    font-size: 17px;
}

.bio3 {
    font-size: 17px;
    margin-bottom: 50px;
}

.cv {
    background-color: rgb(81, 81, 240);
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    margin: auto;

}

.cvbox{
    width: 100%;
    display: flex;
}

.cv:hover {
    border: 1px solid white;
    background-color: transparent;
}




/* skils shuru hai */
#skills {
    min-height: 100vh;
    width: 100%;
    /* background-color: #1b2737; */
    background-color: aqua;
}

.skillme {
    color: white;

    /* height: 20vh; */
    /* background-color: #4c96ED; */
    align-items: end;
    justify-content: center;
    display: flex;
    padding: 40px 1px;
}

.tools {
    display: flex;
    /* background-color: #4c96ED; */
    height: 100%;
    gap: 5%;
    justify-content: center;
}

.same1 {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-color: #2b3549;
}

.same1:hover {
    border: 1px solid #4c96ED;
}

.fronted {
    color: #4c96ED;
    text-align: center;
    height: 100px;
    width: 300px;
    /* background-color: aquamarine; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontedtools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
}




/* professional shuru hai */
#experience {
    height: 200vh;
    width: 100%;
    background-color: #2c3952;
}

.experienceme {
    color: white;
    height: 18vh;
    /* background-color: #4c96ED; */
    align-items: end;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}

.experiencebottom {
    height: 170vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 2%;

}

.same {
    height: 162px;
    width: 80%;
    background-color: #222c3f;
    border-radius: 20px;
}

.parentcart1 {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.childcart1 {
    color: #4c96ED;
}

.location {
    color: white;
    font-size: 24px;

}

.ksj {
    color: white;
    margin-left: 7px;
    font-size: 24px;

}

.calender {
    color: white;
    font-size: 24px;
}

.present {
    color: white;
    margin-left: 7px;
    font-size: 24px;
}


.same:hover {
    border: 1px solid #4c96ED;
}

.education {
    color: white;
    margin-bottom: 25px;
}

.school {
    color: white;
    margin-left: 7px;
    font-size: 19px;
}

.period {
    color: white;
    margin-left: 7px;
    font-size: 19px;
}

#contact {
    min-height: 100vh;
    width: 100%;
    background-color: #182132;
}

#hire {
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
}

.workbottom {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.contactcart1 {
    background-color: #1e2a3a;
    /* height: 450px; */
    width: 40%;
    border-radius: 20px;
}

.contactcart2 {
    background-color: #1e2a3a;
    /* height: 450px; */
    width: 40%;
    border-radius: 20px;
}

.contactcart1:hover {
    border: 1px solid #4c96ED;
}

.contactcart2:hover {
    border: 1px solid #4c96ED;
}

.connect {
    color: #4c96ED;
    margin-bottom: 20px;

}

.contactchild {
    width: 100%;
    /* background-color: aqua; */
    margin-left: 20px;
    /* height: 400px; */
    margin-top: 15px;
}

.connectbio1 {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.connectbio2 {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.maindetail {
    /* background-color: #155dfd; */
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.personaldetail {
    /* background-color: #155dfd; */
    display: flex;
    gap: 10px;


}

.phone {
    color: #4c96ED;
    font-size: 18px;

}

.num {
    color: white;
    font-size: 18px;
}

.envelop {
    color: #4c96ED;
    font-size: 18px;
}

.gmail {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.icons {
    /* background-color: #155dfd; */
    display: flex;
    gap: 20px;
}

.insta {
    color: white;
    font-size: 33px;
}



.name {
    background-color: #364153;
    color: white;
    /* padding: 10px 70px; */
    width: 90%;
    height: 40px;
    border-radius: 13px;
    margin-bottom: 30px;
    /* padding-left: 5px; */
    border: none;
}

.textarea {
    background-color: #364153;
    color: white;
    padding: 5px;
    border-radius: 13px;
    margin-bottom: 27px;
    border: none;
    width: 80%;

}

.collab {

    background-color: #155dfd;
    width: 80%;
    height: 40px;
    border-radius: 13px;
    margin-left: 8px;
    color: white;
    font-size: 20px;
    border: none;
}

.collab:hover {
    background-color: #1354e0;
}

.fotter {
    background-color: #263249;
    height: 13vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerbottom {
    color: white;
}





@media only screen and (max-width: 600px) {
    .box {
        justify-content: center;
        /* height: 7vh; */
        /* background-color: #155dfd; */
    }

    .dp {
        position: relative;
        left: 2%;
    }

    .navname {
        position: relative;
        left: 4%;
        align-self: center;
        /* word-break: break-all; */
        font-size: 27px;

    }

    .navbar {
        display: none;

    }

    #home {
        flex-direction: column;
        /* height: 90vh; */
        width: 100%;

    }

    .bigname {
           width: 100%;
        /* height: 40vh; */
    align-items: center;
    }

   .mainbuttons{
    align-items: start;
    /* justify-content: start; */
    display: flex;

   } 

    .namejagdeep {
        font-size: 40px;

    }

    .bigimage {
        height: 230px;
        width: 230px;
        border-radius: 100%;
    }

    .mainimage {
        display: flex;
        justify-content: center;
        align-items: start;
        position: relative;
        right: 3%;
    }

    .aboutme {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        right: 24%;

    }

    .theory {
        font-size: 24px;
        width: 98%;
    }

    .workbottom{
        flex-direction: column;
        gap: 10px;
    }

    .tools{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .skill{
        font-size: 24px;
        padding: 10px 0px;
    }
    .contactcart1 {
    width: 95%;
}

.contactcart2 {
 
    width: 95%;
}
}